name: CI
"on":
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch: null
concurrency:
  group: pages
  cancel-in-progress: false
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: false
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - name: install dependencies
        run: pnpm install --no-frozen-lockfile
      - name: typecheck
        run: pnpm run typecheck
      - name: Lint
        run: pnpm run lint
      - name: Build
        run: pnpm run build
